	body{
		background-color: none;
		overflow-x:hidden;
	}

	#Container{
		position:absolute;
		width:100%;
		height:100%;
	}

/*div.vertical {

    display: flex;
    flex-direction: column;
    justify-content: center;
    }*/

    #LogoImage2 img{
    	width:80%;
    	padding-left: 10%;
    	padding-top: 5%;
    }

    h1{
    	font-family:helvetica;

    	font-size: 32px;
    	text-transform: uppercase;
    	margin:0;
    	display:inline;

    }

    h2{
font-family:helvetica;
    	font-size: 18px;
    	line-height: .8em;
    	margin-top:5px;
    	margin-bottom: 1px;
    }

    h2 a{
    	color:black;
    }

    a{
    	text-decoration: none;
    	font-style: normal;
    	color:#000000;
    	text-decoration: underline;
    }


    a:hover{
    	font-style: italic;

    }

    .sitesGrid a:hover{
    	font-style: normal;
    }

    

    h3{
    	font-family: "Interstate Bd";
    	font-size: 24px;
    	/*text-transform: uppercase;*/
    }


    h4{
    	font-family: "Interstate Bd Cond";
    	text-transform: uppercase;
    	font-size: 50px;
    	/*letter-spacing: .05em;*/
    	line-height: .8em;
    	margin:0;
    }

    h5{
    	font-family: "Interstate Bd";
    	font-size: 24px;
    	text-decoration: underline;
    	margin-bottom: 10px;
    }

    ul{
    	padding: 0;
    	list-style: none;
    	text-align: right;
    }

    ul li ul{
    	text-align: right;
    }




    p{
    	font-family:helvetica;
    	 font-style: italic;
    	font-size: 16px;
    	color: black;
    	opacity:1;
    	text-align: left;
    	margin-left: 50px;
    	
    }




    #mapContainer {
    	position:fixed;
    	width:100%;
    	height:100%;
    	top:0%;
    	left: 0%
    }

    #mapCanvas {
    	position: absolute;
	/*top:	6%;
	left: 6%;*/
	height: 100%;
	width: 100%;
}



.logo{
	position:fixed;
	z-index: 10000;
	width:25%;
}

.logo img{
	width: 100%; 
	height: auto; 
	
	padding-left: 2%;
}


div.horizontal {
	display: flex;
	justify-content: center;
}

div.vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.horizontal .vertical img{
	width: 25%; height: auto; 
	z-index: 10000;
	padding-left: 2%;
}


.gm-style-iw {
width: 750px; 
min-height: 150px;
}

#content{
	position:relative;
	max-width:750px;

}

#contentIMG{
	margin-bottom: 54%;
    margin-right: 5%;
    width: 25%;
    position: absolute;
}


/*==================menu=======================*/
/*everything about menu should be all inside of style.css page*/
.menu {
	z-index: 1999;
	position: fixed;
	width: 85%;
	height: 12%;
	margin:-10px;
	opacity: 0;
}
/*======Special cases for the index page menu=======*/
/*=About, Archive, and Itinerary/Itineraries=*/
.AImenu {
	z-index: 1999;
	position: fixed;
	width: 100%;
	height: 10%;
	margin:-10px;
	opacity: 1;
}

.ABmenu {
	z-index: 1999;
	position: fixed;
	width: 100%;
	height: 10%;
	margin:-10px;
	opacity: 1;
}

/*.Aboutmenu {
	z-index: 1999;
	position: fixed;
	width: 100%;
	height: 10.5%;
	margin:-10px;
	opacity: 1;
	background-color: white;
	}*/

	.menu div:hover{
		font-style: italic;
	}

	.menuLinks{
		width: 101%;
		height: 17%;
		position:relative;
		top:30px;
		left:130px;
		opacity: 1;
	}   

	/*======A special case for the index page menu=======*/


	.menuLinks h1{
		margin-right: 10px;
		font-size: 2.7rem;
	} 

	/*=================about page menu================*/
	.menuLinks #ABabout{
		opacity: 1;
		z-index: 100;
	}
	.menuLinks #ABmap{
		opacity: 0;
	} 

	.menuLinks #ABarchive{
		opacity: 0;
	}

	.menuLinks #ABint{
		opacity: 0;
	} 

	/*=================archive page menu================*/
	.menuLinks #Aabout{
		opacity: 0;
		/*	z-index:-100;*/
	}
	.menuLinks #Amap{
		opacity: 0;
	} 

	.menuLinks #Aarchive{
		opacity: 1;
	}

	.menuLinks #Aint{
		opacity: 0;
	} 

	/*=================itineraries page menu================*/
	.menuLinks #Iabout{
		opacity: 0;
	} 

	.menuLinks #Imap{
		opacity: 0;
	} 

	.menuLinks #Iarchive{
		opacity: 0;
	} 

	.menuLinks #Iint{
		opacity: 1;
		z-index: 100;
	} 



	.archiveTitle{
		position: relative;
		top: 0%;
		left: 10%;
		height: auto;
		z-index: 20;
		/*-ms-transform: rotate(180deg);*/ /* IE 9 */
		/*-webkit-transform: rotate(180deg);*/ /* Chrome, Safari, Opera */
		/*transform: rotate(180deg);*/
	}

	.listItineraries{
		position: fixed;
		bottom: 15%;
		right: 125px;
		z-index: -10;
	}

	.nolink{
		text-decoration: line-through;
	}

	.link{
		text-decoration: none;
	}

	.listItineraries h3 {
		font-size: 1.5rem;


	}

	.listItineraries h3 a{
		font: normal;
		text-decoration:none;

	}


	.listItineraries h3 a:hover{
		text-decoration: none;
		font-style: italic;
	}


	/*===========Itinerary Page========*/
	.itineraryTitle{
		position: relative;
		top: 0%;
		left: 10%;
		width:10%;
		height: auto;
		z-index: 20;
		/*-ms-transform: rotate(180deg);*/ /* IE 9 */
		/*-webkit-transform: rotate(180deg);*/ /* Chrome, Safari, Opera */
		/*transform: rotate(180deg);*/
	}
	.itineraryContain{
		position: absolute;
		width: 100%;
		top: 17%;
	}

	#itinerarySitesContain{
		position: fixed;
		top: 10%;
		left: 0%;
		width: 60%;
		padding-left: 20%;
		padding-right: 20%;
		height: 94%; /* it was 86%*/
		overflow-x: scroll;

	}

	#itinerarySitesContain ul li{
		font-family: "Interstate Bd";
		font-size: 48px;
		line-height: .8em;
		margin:50px;
		text-align: left;
	}
	#itinerarySitesContain ul li h1{
		font-family: "Interstate Bd";
		font-size: 48px;
		line-height: 1em;
		text-align: left;
		display: inline-block;
	}

	#itinerarySitesContain ul li h2{
		font-family: "Interstate Bd";
		font-size: 24px;
		line-height: .8em;
		margin:10px;
		text-align: left;
	}

	.itineraryMap{
		position: fixed;
		top: 0%;
		left:0%;
		width: 100%;
		height: 100%;
		opacity:0;
		z-index: -10;


	}

	.itineraryMap iframe{
		position:absolute;
		width:100%;
		height:100%;
	}

	.itineraryMap_solo{
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 70%;
		opacity:1;
		z-index: -100;

	}

	.itineraryMap_solo:hover{
		cursor: move; /* fallback if grab cursor is unsupported */
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;

	}

	.itineraryMap_solo iframe{
		position:absolute;
		width:100%;
		height:100%;
	}



	.about{
		position: absolute;
		top: 11%;
		left: 600px;
		width: 500px;
		z-index: -10;
		opacity:0;
	}

	@media (max-width: 1280px){
		.menuLinks{
			left: 120px;
		}
		.menuLinks h1{
			font-size: 2.8rem;
		}
	}


	@media (max-width: 1024px){
		.menuLinks{
			left: 105px;
		}

		.menuLinks h1{
			font-size: 2.7rem;
		}	

		.menuIcon{
			top: 3.6%;
			width: 40px;
		}

		.menubarClose1{
			height: 7px;
		}
		.menubarClose2{
			height: 7px;
		}

		.menubar1{
			height: 7px;
		}
		.menubar2{
			height: 7px;
		}
		.menubar3{
			height: 7px;
		}
	}

	@media (max-width: 768px){
		.menuLinks{
			left: 80px;
		}

		.menuLinks h1{
			font-size: 2.4rem;
		}

		.menuIcon{
			top: 3.3%;
		}

		.menubarClose1{
			height: 6.5px;
		}
		.menubarClose2{
			height: 6.5px;
		}

		.menubar1{
			height: 6.5px;
		}
		.menubar2{
			height: 6.5px;
		}
		.menubar3{
			height: 6.5px;
		}
	}
	@media (max-width: 540px){
		.menuLinks h1{
			font-size: 2rem;
			margin-left: 0px; 
		}
	}
	@media (max-width: 414px){
		.menuLinks{
			left: 50px;
			top: 28px;
		}

		.menuLinks h1{
			font-size: 1.65rem;
			margin-left: 3px;
		}
		.menuIcon{
			top: 2.9%;
			width: 28px;
		}

		.menubarClose1{
			height: 5.5px;
		}
		.menubarClose2{
			height: 5.5px;
		}

		.menubar1{
			height: 5.5px;
			top: 5px;
		}
		.menubar2{
			height: 5.5px;
			top: 15px;
		}
		.menubar3{
			height: 5.5px;
			top: 25px;
		}

		.close{
			width: 30px;
			top: 5%;
			right: 11%;
		}

		.bar1{
			height: 6px;
		}
		.bar2{
			height: 6px;
		}

		#itinerarySitesContain {
			padding-left: 0%; 
			padding-right: 0%;
			height: 90%;
			width: 100%
		}

		#itinerarySitesContain ul li {
			margin:30px;
		}

		#itinerarySitesContain ul li h1 {
			font-size: 26px;
		}
		#itinerarySitesContain ul li h2 {
			font-size: 14px;
			margin: 7px;
		}
	}

	@media (max-width: 375px){
		.menuLinks{
			left: 50px;
			top: 23px;
		}

		.menuLinks h1{
			font-size: 1.56rem;
			margin-left: 0px;
		}
		.menuIcon{
			top: 2.5%;
			width: 25px;
		}

		.menubar1{
			height: 5px;
			top: 6px;
		}
		.menubar2{
			height: 5px;
			top: 15px;
		}
		.menubar3{
			height: 5px;
			top: 24px;
		}



	}

	@media (max-width: 320px){
		.menubarClose1{
			height: 4px;
			width: 80%;
			top: 17px;

		}
		.menubarClose2{
			height: 4px;
			width: 80%;
			top: 17px;
		}
		.menuLinks{
			left: 40px;
		}
		.menuLinks h1{
			font-size: 1.3rem;
		}
	}